@model IEnumerable<CGHSCM.Models.CostCenter>

@{
    ViewBag.Title = "Cost Center - Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CostCenterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCenterName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CostCenterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCenterName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CostCenterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CostCenterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CostCenterID })
        </td>
    </tr>
}

</table>
