@model IEnumerable<CGHSCM.Models.PastRecord>

@{
    ViewBag.Title = "Past Records - Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCenterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCenterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeDone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCenterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCenterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeDone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
